*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

footer{
    background-color: darkcyan;
}
.social-medias{
    padding: 10px 20px 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 100px;
}
.social-medias img{
    width: 35px;
}
.icon{
    color: #ffffff;
}
.terms{
    display: flex;
    justify-content: center;
    padding: 15px 10px 10px 10px;
    list-style: none;
    gap: 100px;
}
.terms a{
    color: white;
    text-decoration: none;
}
.footer-brand{
    text-align: center;
    font-weight: 800;
    color: white;
    padding: 10px;
}